<% layout('layouts/boilerplate.ejs') %>
<div class="row">
    <div class="col-6 offset-3">
        <div class="card mb-3">
            <img src="<%= spot.img%>" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title"><%= spot.name%></h5>
                <div class="d-flex flex-wrap">
                    <% if(spot.dogFriendly === true){ %>
                        <p class="me-3"><i class="bi bi-check-circle"></i> Dog Friendly</p>
                    <% } %>
                    <% for (let activity of spot.activities) { %>
                         <p class="me-3"><i class="bi bi-check-circle"></i> <%=activity%></p>
                    <%}%>
                </div>
                <p class="card-text"><%= spot.description%></p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item text-muted"><%= spot.location%></li>
                <li class="list-group-item">$<%= spot.price%></li>
            </ul>
            <div class="card-body">
                <a class="card-link btn btn-info" href="/spots/<%=spot.id%>/edit">Edit</a>
                <form class="d-inline" action="/spots/<%=spot.id%>?_method=DELETE" method="POST">
                    <button class="btn btn-danger">Delete</button>
                </form>
            </div>
            <div class="card-footer text-muted">
                2 days ago
            </div>
        </div>
    </div>
</div>

